$gray:#333333;
$orange:#E46D16;
$white: #ffffff;
$black: #000000;
$page_width: 82.8vw;
*,
*::before,
*::after {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    width: 98.9vw;
    // background-color: rgba(255, 255, 255, 0.25);
    // opacity: 0.5;
    #home {
        width: 98.9vw;
        height: 100vh;
        background: linear-gradient(90deg, $gray 0%, rgba(196, 196, 196, 0) 97.68%);
    }
    #welcome-message {
        font-style: normal;
        font-weight: bold;
        font-size: 3vw;
        color: #ffffff;
        margin-left: 8.6vw;
        padding-top: 12.5vw;
        width: 82.8vw;
        p {
            line-height: 7.5vw;
            span {
                font-size: 4vw;
            }
            #name {
                color: $orange;
            }
            #title {
                color: $gray;
            }
        }
    }
    nav {
        border: 2px solid $orange;
        width: $page_width;
        margin: auto;
        height: 60px;
        overflow: hidden;
        background-color: $white;
        ul {
            margin: 7px 0;
            .nav-link {
                li {
                    display: inline;
                    list-style: none;
                    float: left;
                    margin: auto 50px;
                    a {
                        font-family: 'Raleway', sans-serif;
                        text-transform: uppercase;
                        text-decoration: none;
                        color: $black;
                        font-style: normal;
                        font-weight: 900;
                        font-size: 20px;
                        display: block;
                        padding: 10px;
                    }
                }
            }
            .active {
                color: $orange !important;
                text-decoration: underline !important;
            }
        }
    }
    .sticky {
        position: fixed;
        top: 0;
        width: 82.8vw;
        margin-left: 8vw;
    }
    #about {
        display: grid;
        grid-template-columns: 50% 50%;
        margin: auto 10vw;
        img {
            width: 500px;
            height: 335.57px;
            border-radius: 10px;
        }
        p {
            font-size: 20px;
            line-height: 40px;
        }
    }
    #about,
    #portfolio,
    #blog,
    #contact,
    .main-container {
        padding-top: 10vw;
        width: $page_width;
        margin: auto;
    }
    #about,
    #blog,
    #contact {
        height: 100vh;
    }
    #portfolio,
    #blog {
        .outer-box {
            border: 1px solid $black;
            .highlight-cards {
                display: grid;
                grid-template-columns: auto auto auto auto;
                margin-left: 4.2vw;
            }
            .highlight-card {
                margin: 2vw 0;
                margin-right: 3vw;
                width: 16.5vw;
                height: 20vw;
                .img-box {
                    width: 16.5vw;
                    height: 11vw;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .description {
                    font-weight: 500;
                    color: $black;
                    line-height: 20px;
                    font-size: 14px;
                    letter-spacing: 0px;
                }
                .other-details {
                    font-size: 16px;
                    color: $orange;
                }
            }
            button {
                margin: 5vw 4.2vw 2vw;
            }
        }
    }
    #contact {
        display: grid;
        grid-template-columns: 50% 50%;
        #contact-left {
            margin: auto;
            a {
                padding: 8px;
                img {
                    width: 40px;
                    height: 30px;
                }
            }
        }
        #contact-right {
            margin: auto;
            form {
                input,
                textarea {
                    width: 350px;
                }
            }
        }
    }
    .blog-content,
    .comment-card {
        margin-left: 4.2vw;
    }
    .created-at {
        font-size: 16px;
        color: $orange;
    }
    .main-container {
        padding-bottom: 10vw;
        div {
            form {
                margin: auto 4.2vw;
                input,
                textarea {
                    width: 100%
                }
                textarea {
                    height: 50vw;
                }
            }
        }
        .admin {
            h2 {
                text-align: center;
            }
            form {
                margin: 4vw auto;
                width: 35%;
                button {
                    margin-top: 2vw;
                }
            }
        }
        .dashboard {
            display: grid;
            grid-template-rows: auto auto;
            grid-template-columns: auto auto;
            row-gap: 5vw;
            column-gap: 5vw;
            margin: auto 4.2vw;
            .dashboard-card {
                border: 1px solid $black;
                background-color: #E5E5E5;
                height: 100%;
                padding: 2.5vw;
                .stats,
                .actions {
                    display: grid;
                    grid-template-columns: 20vw auto;
                }
                .actions {
                    a {
                        font-size: 1.5vw;
                    }
                }
                a {
                    color: $black;
                }
            }
            .small {
                width: 35vw;
            }
            .large {
                width: 75vw;
                grid-column-start: 1;
                grid-column-end: 3;
                span {
                    font-family: 'Open Sans', sans-serif;
                    font-style: italic;
                }
            }
        }
    }
    .comments {
        form {
            margin: auto 8.6vw;
            input,
            textarea {
                width: 100%
            }
        }
    }
    #delete {
        display: none;
        position: absolute;
        width: 50vw;
        border: 1px solid black;
        padding: 5vw;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: $white;
        p {
            margin: 2vw 0;
        }
        #actions {
            width: fit-content;
            margin: 5vw auto 0 auto;
            button {
                margin: 0 2vw
            }
        }
    }
    footer {
        background: #333333;
        display: flex;
        align-items: center;
        font-family: Nunito;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        color: $white;
        height: 5vw;
        div {
            padding: 0 5vw;
        }
        .social {
            margin-left: 50vw;
        }
        ul {
            margin: 0;
            padding: 0;
        }
        li {
            list-style: none;
            float: left;
            a {
                text-decoration: none;
                color: $white;
                padding: 0 10px;
            }
        }
    }
}

button {
    background: $gray;
    border-radius: 10px;
    padding: 12px 35px;
    height: inherit;
    border: none;
    a {
        font-family: 'Nunito', sans-serif;
        font-weight: 800;
        font-size: 24px;
        color: $white;
    }
}

h2 {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 16px;
    color: $gray;
    a {
        color: $gray;
    }
}

h1 {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 50px;
    color: $gray;
    a {
        color: $gray;
    }
}

p {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    text-align: justify;
}

form {
    input,
    textarea {
        height: 45px;
        background: #CFCFCF;
        border-radius: 5px;
        font-family: Open Sans;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 33px;
        color: #000000;
        padding-left: 10px;
        border: none;
        margin: 1vw;
    }
    textarea {
        height: 100px;
    }
    button {
        display: block;
        margin: auto;
        a {
            text-decoration: none;
        }
    }
}

@media only screen and (max-width: 600px) {
    body {
        #home {
            height: 100vh !important;
        }
        #welcome-message {
            font-size: 6vw !important;
            padding-top: 35vw !important;
            p {
                line-height: 10vw !important;
                span {
                    font-size: 9vw !important;
                    display: block !important;
                }
            }
        }
        nav {
            width: 100vw;
            overflow: hidden;
            ul {
                margin: 5vw 0 !important;
                padding: 0 !important;
                .nav-link {
                    li {
                        margin: auto !important;
                        a {
                            font-weight: 900;
                            font-size: 4.5vw !important;
                            display: block;
                            padding: 1vw !important;
                        }
                    }
                }
                .active {
                    color: $orange !important;
                    text-decoration: underline !important;
                }
            }
        }
        .sticky {
            position: fixed;
            top: 0;
            width: 100vw !important;
            margin-left: 0 !important;
        }
        #about {
            display: grid;
            grid-template-rows: 50% 50% !important;
            // align-items: center;
            margin: 5vw 10vw;
            img {
                width: 82.6vw;
                margin: auto;
                height: 180px;
                border-radius: 10px;
            }
            p {
                grid-row-start: 2;
                width: 82.8vw;
                font-size: 12px;
                line-height: 25px;
            }
        }
        #portfolio,
        #blog {
            .outer-box {
                border: 1px solid $black;
                height: inherit;
                .highlight-cards {
                    display: grid;
                    grid-template-columns: auto auto;
                    margin-left: 4.2vw;
                    height: inherit;
                }
                .highlight-card {
                    margin: 2vw 0;
                    margin-right: 3vw;
                    width: 33vw;
                    height: 20vw;
                    .img-box {
                        width: 100%;
                        height: 20vw;
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                    .description {
                        line-height: 10px;
                        font-size: 10px;
                    }
                    .other-details {
                        font-size: 10px;
                    }
                }
                .mobile-hide {
                    display: none;
                }
                button {
                    margin: 50vw 4.2vw 5vw;
                }
            }
        }
        #contact {
            display: grid;
            grid-template-rows: 50% 50%;
            #contact-left {
                text-align: center;
                width: 82.6vw;
                grid-row-start: 1;
                margin: auto;
                h2 {
                    font-size: 24px;
                }
                a {
                    padding: 8px;
                    img {
                        width: 40px;
                        height: 30px;
                    }
                }
            }
            #contact-right {
                grid-row-start: 2;
                margin: auto;
            }
        }
        .main-container {
            h1 {
                font-size: 32px;
            }
            h2 {
                font-size: 20px;
                line-height: 30px;
                a {
                    font-size: 20px;
                    line-height: 30px;
                }
            }
            div {
                form {
                    textarea {
                        height: 1500px;
                    }
                }
            }
            .admin {
                h2 {
                    text-align: center;
                    font-size: 20px;
                    line-height: 30px;
                }
                form {
                    margin: 5vw auto;
                    width: 75%;
                    button {
                        margin-top: 5vw;
                    }
                }
            }
            .dashboard {
                display: flex;
                flex-direction: column;
                margin: 10vw 0;
                .dashboard-card {
                    padding: 5vw;
                    width: 100%;
                    .stats,
                    .actions {
                        display: grid;
                        grid-template-columns: auto auto;
                        font-size: 4vw;
                    }
                    .actions {
                        a {
                            font-size: 5vw;
                        }
                    }
                    a {
                        color: $black;
                        font-size: 4vw;
                    }
                }
                .large {
                    .stats {
                        display: grid;
                        grid-template-columns: auto;
                    }
                }
            }
        }
        footer {
            font-size: 12px;
            height: 15vw;
            div {
                padding: 0 5vw;
            }
            .social {
                margin-left: auto;
            }
            ul {
                margin: 0;
                padding: 0;
            }
            li {
                a {
                    padding: 0 5px;
                }
            }
        }
    }
    button {
        border-radius: 5px;
        padding: 8px 20px;
        a {
            font-size: 20px;
        }
    }
    h2 {
        font-size: 16px;
        line-height: 16px;
    }
    h1 {
        font-size: 24px;
        line-height: 50px;
    }
    form {
        input,
        textarea {
            width: 82.6vw;
            height: 40px;
            border-radius: 5px;
            font-size: 14px;
            margin: 2.5vw auto;
        }
        textarea {
            height: 100px;
        }
        button {
            display: block;
            margin: auto;
            a {
                text-decoration: none;
            }
        }
    }
}